.product-list {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 30px;
  }
}

.pagination {
  padding-top: 52px;

  &__container {
    display: flex;
    justify-content: center;
    gap: 15px;

    font-size: 16px;
    line-height: 150%;
    color: var(--accent-text-color);
  }

  &__btn-active {
    color: #6eaeb0;
  }
}
