.categories {
    background: #F7F9F9;
    padding: 62px;
}

.categories__list {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: auto;
    justify-content: center;
}

.categories {
    background: #F7F9F9;
}