.basket-page {
  &__title {
    font-size: 30px;
    line-height: 150%;
    padding-bottom: 20px;
  }
  &__headers {
    background-color: #f7f9f9;
    padding: 27px 0 26px;
    display: grid;
    grid-template-columns: 150px 1fr 170px 100px 100px 50px;
    text-align: center;
    grid-gap: 20px;
  }

  &__product {
    display: grid;
    grid-template-columns: 150px 1fr 150px 100px 100px 50px;
    align-items: center;
    grid-gap: 20px;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #e3e3e3;
    line-height: 170%;

    &-name {
      display: block;
      font-size: 14px;
    }

    &-price {
      font-size: 18px;
    }

    &-discount {
      font-size: 20px;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 80px;

    &-input {
      margin-top: 20px;
      width: 400px;
      height: 56px;
      padding: 19px 20px;
      font-size: 12px;
      line-height: 150%;
      background-color: #f7f9f9;

      &::placeholder {
        color: #6eaeb0;
        opacity: 0.6;
      }
    }
  }

  &__prices {
    width: 480px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e3e3e3;
    padding: 0 40px 20px;
    line-height: 150%;

    &-text {
      font-size: 16px;
      font-weight: 700;
    }

    &-discount {
      font-size: 16px;
    }
  }

  &__send-btn {
    color: #fff;
    font-size: 16px;
    line-height: 150%;
    background-color: var(--accent-text-color);
    width: 234px;
    height: 56px;
    align-self: flex-end;
  }
}
