.basket-page {
  &__title {
    font-size: 30px;
    padding-bottom: 20px;
  }
  &__headers {
    display: grid;
    grid-template-columns: 150px 1fr 170px 100px 100px 50px;
    grid-gap: 20px;
    background-color: #f7f9f9;
    padding: 27px;
    text-align: center;
  }

  &__product {
    display: grid;
    grid-template-columns: 150px 1fr 150px 100px 100px 50px;
    grid-gap: 20px;
    text-align: center;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid #e3e3e3;

    &-name {
      display: block;
      font-size: 14px;
    }

    &-price {
      font-size: 18px;
    }

    &-discount {
      font-size: 20px;
    }

    &-btn {
      margin-left: auto;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin: 30px 80px;

    &-input {
      margin-top: 20px;
      width: 400px;
      height: 56px;
      padding: 19px 20px;
      font-size: 12px;
      line-height: 150%;
      background-color: #f7f9f9;

      &::placeholder {
        color: #6eaeb0;
        opacity: 0.6;
      }
    }
  }

  &__prices {
    width: 480px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__price {
    border-bottom: 1px solid #e3e3e3;
    padding: 0 40px 20px;

    &-text {
      font-size: 16px;
      font-weight: 700;
      line-height: 150%;
    }

    &-discount {
      font-size: 16px;
      line-height: 150%;
    }
  }
}
