.header {
  height: 100vh;

  &__banner {
    height: 590px;
    margin-top: 20px;
    background-image: url(../../assets/images/cover-header.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &-wrapper {
      width: 415px;
      height: 351px;
      display: flex;
      align-items: center;
      justify-content: center;

      margin-right: 9px;
      background-image: url(../../assets/images/heart.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }

    &-info {
      margin-right: 91px;
    }

    &-number {
      font-size: 216px;
      font-weight: 700;
      line-height: 73%;
      letter-spacing: -13.8px;
      text-align: end;
    }

    &-year {
      font-size: 50px;
      font-weight: 400;
      line-height: 110%;
      text-align: end;
    }

    &-text {
      font-size: 22px;
      font-weight: 400;
      line-height: 100%;
      font-style: italic;
    }
  }
}
