@import "../../scss/extends.scss";
.nav {
  &__list {
    display: flex;
    gap: 40px;
    height: 24px;
  }

  &__item {
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
    position: relative;
    z-index: 1;

    &:hover::after {
      @extend %active-border-nav;
    }

    &_active::after {
      @extend %active-border-nav;
    }
  }
}
