@import "../../scss/extends.scss";
.map {
  &__cities {
    display: flex;
    gap: 60px;
    margin-bottom: 30px;
  }

  &__city {
    font-size: 30px;
    line-height: 150%;
    position: relative;
    cursor: pointer;

    &:hover::after {
      @extend %active-border-map;
    }

    &_active::after {
      @extend %active-border-map;
    }
  }
}
