@import "../../scss/extends.scss";
.map {
  &__cities {
    display: flex;
    gap: 60px;
    margin-bottom: 30px;
  }

  &__city {
    font-size: 30px;
    line-height: 150%;
    position: relative;
    cursor: pointer;

    &::after {
      @extend %active-border-map;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }

    &:not(.map__city_active):hover::after {
      @extend %active-border-map;
      transform-origin: left;
      transform: scaleX(1);
    }

    &_active::before {
      @extend %active-border-map;
    }
  }
}
