@import "../../../scss/extends.scss";
.nav {
  &__list {
    display: flex;
    gap: 40px;
    height: 24px;
  }

  &__item {
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
    position: relative;
    z-index: 1;
  }

  &__link {
    &_active::before {
      @extend %active-border-nav;
    }

    &::after {
      @extend %active-border-nav;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }

    &:not(.nav__link_active):hover::after {
      @extend %active-border-nav;
      transform-origin: left;
      transform: scaleX(1);
    }
  }
}
